numpy 
pandas 
geopandas 
shapely 
haversine 
gymnasium 
stable-baselines3 
torch 
matplotlib 
tensorboard 
pillow
ipykernel
scipy
tensorboardX
langchain_openai
python-dotenv
openai
langchain-community
langchain-ollama
ollama
groq
python-dotenv
langchain_groq
huggingface_hub
cmake
setuptools
wheel
numpy
scipy
langchain
transformers